<header>
  Employee Master
</header>

<div class="container mt75">
  <a class="new-record" (click)="openRecordDialog(true);">Add New Record</a>
  <table class="table table-striped ">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Middle Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of recordList">
        <td>{{emp.firstName}}</td>
        <td>{{emp.middleName}}</td>
        <td>{{emp.lastName}}</td>
        <td>
          <a class="link" (click)="openRecordDialog(false,emp);">Edit</a>
          <a class="link" (click)="deleteRecordConfirmation(emp);">Delete</a>
        </td>
      </tr>
      <tr *ngIf="!recordList.length">
        <td colspan="4" class="text-center"> No records found.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal" id="recordModel" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{isNewRecord ? "Add Record" : "Update Record"}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" [(ngModel)]="record.firstName" id="firstName"
            placeholder="Enter First Name">
          <small *ngIf="!record.firstName.length" class="form-text error-msg">First Name is required.</small>
        </div>
        <div class="form-group">
          <label for="middleName">Second Name</label>
          <input type="text" class="form-control" [(ngModel)]="record.middleName" id="middleName"
            placeholder="Enter middle Name">
          <small *ngIf="!record.middleName.length" class="form-text error-msg">Second Name is required.</small>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="email" class="form-control" [(ngModel)]="record.lastName" id="lastName"
            placeholder="Enter Last Name">
          <small *ngIf="!record.lastName.length" class="form-text error-msg">Last Name is Required.</small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
          (click)="addUpdateRecord();">{{ isNewRecord ? "Add Record" : "Update Record"}}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="deleteConfirmation" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete record ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteRecord();">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>