.link,.new-record{
    cursor:pointer;
    margin:0 5px;
    color:#00f;
}
.new-record{
   display: block;
   margin-bottom: 15px;
}
.error-msg{
    color:#ea081d;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    background-color: #343a40;
    color:#fff;
    font-size: 18px;;
}
.mt75{
    margin-top:75px;
}