<%@ page contentType="text/html"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="en" />
  
  <title>Welcome to Webportal</title>
	
	<link href='<spring:url value="/resources/static/images/br_favicon.ico" />' rel="shortcut icon" />
	<link href='<spring:url value="/resources/static/css/common/bootstrap.css" />' rel="stylesheet" ></link>
	<link href='<spring:url value="/resources/static/css/core/minimum.css" />' rel="stylesheet" ></link>
	<link href='<spring:url value="/resources/static/css/core/corestyle.css" />' rel="stylesheet" ></link>


  <script src='<spring:url value="/resources/static/js/core/cross_fixes.js" />' ></script>
  <script src='<spring:url value="/resources/static/js/core/classList.js" />' ></script>
  <script src='<spring:url value="/resources/static/js/core/starter.js" />' ></script>
  <script src='<spring:url value="/resources/static/js/common/jquery-1.11.2.min.js" />' ></script>
  <script src='<spring:url value="/resources/static/js/common/bootstrap.js" />' ></script>

<style type="text/css">
div.center {
	width: 33%;
	margin: 25% auto 0;
	line-height: 1.25;
}

div.topline div.f_right.small a {
	text-decoration: underline;
}
</style>

<script></script>
</head>
<!-- SITE ROOT:/var/www/html -- SITE NAME:webPortal -- SITE_ID:111 -->
<!-- CONFIGURATION DIRECTORY:/var/www/html/config -->
<body>
<!-- header start -->
<div class="container white_bg no_padding">
  <div id="header">
    <div class="white_bg no-padding">
      <nav class="navbar navbar-default custom_nav blue_bg">
      
        <img src='<spring:url value="/resources/static/images/br-logo.svg" />' alt="Broadridge Financial Solutions" />
      
      </nav>
    </div>
  </div>
</div>
<!-- header end -->

<!-- Container start -->
<div class="container white_bg body_min_height">
  
    
<div class="center">
            Welcome to the <a href="core/login/"> Control Panel </a> for File Upload and Client Management.
            Please click <a href="core/login/"> here </a> to login.
    </div>

  
</div>
<!-- Container end -->
<!--Footer start-->

<footer role="contentinfo">
  <div class="container-fluid">
    <div class="container no_padding">
      <div class="footerLinks">
        <h1 class="footer_title">Broadridge Financial Solutions</h1>
        <ul role="navigation">
          
        </ul>
      </div>
      <div class="copyRight">&copy; 2006 - 2018 Broadridge Financial Solutions, Inc.
      	All Rights Reserved.
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</footer>


<!--FooterEnds-->
</body>
</html>
